<!-- <div *ngIf="selectedStudents.length > 0">
    <h3>Selected Students</h3>
    <table mat-table [dataSource]="selectedStudents" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let student"> {{ student.studentId }} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let student">
          {{ student.firstName }} {{ student.lastName }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let student"> {{ student.score }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'score']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'score']"></tr>
    </table>
  
    <h4>Average Score: {{ averageScore }}</h4>
  </div>
   -->

   <!-- Section to display selected students -->
<div *ngIf="selectedStudents.length > 0">
    <h3>Selected Students</h3>
    <table mat-table [dataSource]="selectedStudents" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let student"> {{ student.studentId }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let student">
          {{ student.firstName }} {{ student.lastName }}
        </td>
      </ng-container>
  
      <!-- Score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let student"> {{ student.score }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'score']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'score']"></tr>
    </table>
  
    <!-- Display average score -->
    <h4>Average Score: {{ calculateAverageScore() }}</h4>
  </div>
  
  <!-- Main table for all students -->
  <table mat-table [dataSource]="students" class="mat-elevation-z8" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let student"> {{ student.studentId }} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let student">
        {{ student.firstName }} {{ student.lastName }}
      </td>
    </ng-container>
  
    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let student"> {{ student.score }} </td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let student">
        <button mat-raised-button color="accent" (click)="editStudent(student.studentId)">Edit</button>
        <button mat-raised-button color="primary" (click)="selectStudent(student)">Select</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  