

   <mat-card *ngIf="selectedStudents.length > 0">
    <mat-card-title>Selected Students</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="selectedStudents">
  
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let student"> {{ student.firstName }} </td>
        </ng-container>
  

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let student"> {{ student.lastName }} </td>
        </ng-container>
  
 
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Score </th>
          <td mat-cell *matCellDef="let student"> {{ student.score }} </td>
        </ng-container>
  
  
        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        
        <!-- Row Data -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <h3>Total Score: {{ totalScore }}</h3>
    </mat-card-content>
  </mat-card>
  

  <mat-card *ngIf="selectedStudents.length === 0">
    <mat-card-title>No students selected</mat-card-title>
  </mat-card>
  